.questionFeed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    position: static;
}


.feedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: static;
}
