.tableContainer {
    width: 75%;
    margin: auto;
    display: flex;
    border-radius: 0.35rem;
    color: black;
    justify-content: center;
  }

  .table {
    width: 100%;
    padding: 0.35rem;
    border-radius: 0.25rem;
    color: black;
  }

  .thead th {
    border-bottom: thin solid black;
    padding: 0.35rem;
  }

  .tbody td {
    padding: 0.35rem;
    color: black;
  }
