
.questionDiv{
  display: flex;
  background-color: white;
  justify-content: center;
}

.questionBody{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  padding-top: 50px;

}

.Comments{
  display: flex;
  flex-direction: column;
  color: black;
}
