
.questionDiv{
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 5px 8px -9px solid rgab(0,0,0,.5);
}

.questionBody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;

}

.questionStuff{
display: flex;
font-size: 24px;
}

.Comments{
  color: black;
  font-size: 18px;
  justify-content: center;
  align-items: center;


}


.likeBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addComment{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;

}

.deleteQuestion{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
}


#deleteCom{
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;

}

.actualComment{
  display: flex;
  justify-content: center;
  border-bottom: 0px solid black;
}

.editQuestionBtn{
  display: flex;
  float: right;
  position: inherit;

}
