a{
    text-decoration: none;
}

.navTwo a{
   color: rgb(155, 155, 155);
}

a:hover{
   color: black;
}

.navTwo{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 55%;
   font-size: 20px;
   margin: 30px;
   margin-left: 15px;
}

.logo{
   align-self: center;
   color: red	;
}


.navBtns{
   display: flex;
}

.mainNav{
   display: flex;
   align-items: center;
   height: 50px;
   margin: -8px;
   justify-content: center;
   background-color: white;
   box-shadow: 0px 15px 10px -15px black;
}

.navBtns > button{
 display: inline-flex;
 box-sizing: border-box;
 align-items: center;
 background-color: red;
 border-radius: 75px;
 cursor: pointer;
 justify-content: center;
 min-height: 40px;
 min-width: 0px;
 padding: 0px;
 padding-left: 20px;
 padding-right: 20px;
 text-align: center;
 vertical-align: middle;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 12px;
 color: white;
}

.navBtns > button:hover,
.navBtns > button:focus {
 background-color: rgb(155, 0, 0)	;
 color: #ffffff;
}
